<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
</head>
<body>
    <h1>Estos son los empleados por palabra cave</h1>
    <form method="get">{% csrf_token %}
        <input type="text" id="'kword" name="kword" placeholder="Ingrese la palabra aqui">
        <button type="submit">Clic aqui</button>
    </form>

    <ul>
        
        {% for i in empleados  %}
            <li> {{ i.first_name }} </li> 
        {% endfor %}
            
    </ul>

</body>
</html>